.adminTableTabs {
	height: 80px;
	padding-top: 40px;
	border-bottom: 2px solid #A0A0A0;
	position: relative;
}

.adminTableTabs a{
	margin: 0 20px;
	display: inline-block;
	text-decoration: none;
	color: black;
}

.adminTableTabs a.activeAdminTab {
	position: relative;
	color: red;
}

.adminTable_C {
	padding: 50px 20px;
}

.adminTable {
	text-align: center;
	margin-bottom: 20px;
}

.adminTable th {
	background: #808080;
	color: white;
	height: 50px;
	font-size: 1.5em;
}

.adminTable tr {
	transition: background 0.2s;
}

.adminTable tr:hover {
	background: rgba(255, 184, 112, 0.5);
}

.adminTable tr td{
	padding: 20px;
	border-bottom: 1px solid #808080;
	font-size: 1.2em;
}

.adminTable tr td input {
	height: 30px;
	font-size: 1.2em;
	padding: 2px 5px;
}

.adminTable tr td input[type="checkbox"] {
	width: 30px;
	height: 30px;
}

/*
.activeAdminTab::before {
	content: "";
	width: 80%;
	height: 3px;
	position: absolute;
	left: 10%;
	bottom: -10px;
	background: red;
}
*/

.adminCat_C {
}

.adminCat_C > ul {
	margin: 0px;
	padding: 0px
}

.adminCat_C ul li div input {
	font-size: 1em;
}

.rowRecord {
	height: 80px;
	font-size: 1em;
	margin: 5px;
	border-bottom: 1px solid grey;
	transition: background 0.2s;
}

.rowRecord:hover {
	background: rgba(255, 184, 112, 0.5);
}

.newRowRecord {
	background: orange;
}

.rowRecordContent {
	left: 10px;
}

.rowDeleted {
	background: rgba(255, 64, 64, 0.8);
}

.filter_C {
}

.filter_C select, .filter_C input[type="text"], .filter_C input[type="submit"]  {
	height: 40px;
	margin-top: 10px;
}

.filter_C select{
	width: 140px;
	font-size: 0.8em;
	padding: 5px 2px;
}

.filter_C input[type="text"] {
	font-size: 0.8em;
	padding: 5px 10px;
}

.filter_C input[type="submit"] {
	width: 60px;
	font-size: 0.7em;
	vertical-align: top;
}

.btnAdd, .btnRemove, .btnRestore {
	height: 30px;
	width: 30px;
	position: relative;
	background: transparent;
	border: 0px solid white;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	outline: none;
}

.btnRestore {
	color: white;
}

.btnRestore[disabled] {
	color: #C0C0C0;
}

.btnAdd {
	transition: transform 0.2s;
}

.btnAdd:hover {
	transform: scale(1.1, 1.1);
}

.btnAdd:before, .btnAdd:after {
	content: "";
	position: absolute;
	background: green;
}

.btnAdd:before {
	width: 100%;
	height: 5px;
	top: 50%;
	transform: translate(0, -50%);
	left: 0px;
}

.btnAdd:after {
	width: 5px;
	height: 100%;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0);
}

.btnRemove:before, .btnRemove:after {
	content: "";
	height: 100%;
	width: 4px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0);
	background: red;
}

.btnRemove:before {
	transform: rotate(-45deg);
}

.btnRemove:after {
	transform: rotate(45deg);
}

.btnSubmit {
	width: 100px;
	height: 40px;
	font-size: 0.6em;
}
