@media only screen and (max-width: 800px) {
	.col-m-0{
		width: 0%;
		display: none;
		visibility: hidden;
	}

	.col-m-1{width: 1%;}
	.col-m-2{width: 2%;}
	.col-m-3{width: 3%;}
	.col-m-4{width: 4%;}
	.col-m-5{width: 5%;}
	.col-m-6{width: 6%;}
	.col-m-7{width: 7%;}
	.col-m-8{width: 8%;}
	.col-m-9{width: 9%;}
	.col-m-10{width: 10%;}
	.col-m-11{width: 11%;}
	.col-m-12{width: 12%;}
	.col-m-13{width: 13%;}
	.col-m-14{width: 14%;}
	.col-m-15{width: 15%;}
	.col-m-16{width: 16%;}
	.col-m-17{width: 17%;}
	.col-m-18{width: 18%;}
	.col-m-19{width: 19%;}
	.col-m-20{width: 20%;}
	.col-m-21{width: 21%;}
	.col-m-22{width: 22%;}
	.col-m-23{width: 23%;}
	.col-m-24{width: 24%;}
	.col-m-25{width: 25%;}
	.col-m-26{width: 26%;}
	.col-m-27{width: 27%;}
	.col-m-28{width: 28%;}
	.col-m-29{width: 29%;}
	.col-m-30{width: 30%;}
	.col-m-31{width: 31%;}
	.col-m-32{width: 32%;}
	.col-m-33{width: 33%;}
	.col-m-34{width: 34%;}
	.col-m-35{width: 35%;}
	.col-m-36{width: 36%;}
	.col-m-37{width: 37%;}
	.col-m-38{width: 38%;}
	.col-m-39{width: 39%;}
	.col-m-40{width: 40%;}
	.col-m-41{width: 41%;}
	.col-m-42{width: 42%;}
	.col-m-43{width: 43%;}
	.col-m-44{width: 44%;}
	.col-m-45{width: 45%;}
	.col-m-46{width: 46%;}
	.col-m-47{width: 47%;}
	.col-m-48{width: 48%;}
	.col-m-49{width: 49%;}
	.col-m-50{width: 50%;}
	.col-m-51{width: 51%;}
	.col-m-52{width: 52%;}
	.col-m-53{width: 53%;}
	.col-m-54{width: 54%;}
	.col-m-55{width: 55%;}
	.col-m-56{width: 56%;}
	.col-m-57{width: 57%;}
	.col-m-58{width: 58%;}
	.col-m-59{width: 59%;}
	.col-m-60{width: 60%;}
	.col-m-61{width: 61%;}
	.col-m-62{width: 62%;}
	.col-m-63{width: 63%;}
	.col-m-64{width: 64%;}
	.col-m-65{width: 65%;}
	.col-m-66{width: 66%;}
	.col-m-67{width: 67%;}
	.col-m-68{width: 68%;}
	.col-m-69{width: 69%;}
	.col-m-70{width: 70%;}
	.col-m-71{width: 71%;}
	.col-m-72{width: 72%;}
	.col-m-73{width: 73%;}
	.col-m-74{width: 74%;}
	.col-m-75{width: 75%;}
	.col-m-76{width: 76%;}
	.col-m-77{width: 77%;}
	.col-m-78{width: 78%;}
	.col-m-79{width: 79%;}
	.col-m-80{width: 80%;}
	.col-m-81{width: 81%;}
	.col-m-82{width: 82%;}
	.col-m-83{width: 83%;}
	.col-m-84{width: 84%;}
	.col-m-85{width: 85%;}
	.col-m-86{width: 86%;}
	.col-m-87{width: 87%;}
	.col-m-88{width: 88%;}
	.col-m-89{width: 89%;}
	.col-m-90{width: 90%;}
	.col-m-91{width: 91%;}
	.col-m-92{width: 92%;}
	.col-m-93{width: 93%;}
	.col-m-94{width: 94%;}
	.col-m-95{width: 95%;}
	.col-m-96{width: 96%;}
	.col-m-97{width: 97%;}
	.col-m-98{width: 98%;}
	.col-m-99{width: 99%;}
	.col-m-100{width: 100%;}
}