#format { margin-top: 2em; }



#jobTable input, #jobTable .changable
{
	margin: 2px;
	border: none;
}



.topLine
{
	display:inline-block;
	vertical-align: top;
}

input[type="text"]
{
	background-color: transparent;
}
input[type="date"]
{
	background-color: transparent;
}



.tableSimpleList
{
	border:  1px solid gray;
	border-collapse: collapse;
	box-shadow: 0px 0px 2px gray;
}

.tableSimpleList th
{
	background-color: white;
	border-bottom: 1px solid gray;
	color: black;
	padding: 0.5em;
}





#jobTable input
{
	text-align: center;
}

.removeJob
{
	background-color: white;
	color: red;
	border:red solid 2px;
	margin: 5px;
}

.removeJob:hover
{
	background-color: red;
	color: white;
	font-weight: bold;
	border:red solid 2px;
	margin: 5px;
	transition:background 0.5s;
}

#mark_form
{
	color: black;
}




input[type="submit"]
{
	background-color: white;
	color: #55bbca;
	border:#55bbca solid 2px;
	float: right;
	padding: 0.8em 2em;
	margin: 5px;
	
}

input[type="submit"]:hover
{
	background-color: #55bbca;
	color: white;
	border:#55bbca solid 2px;
	float: right;
	margin: 5px;
	transition:background 0.5s;
}

.tableSimpleList tr:hover
{
	background-color: whitesmoke;
	transition:background 0.2s;
}

form
{
	border: 1px	solid gray;
	box-shadow: 0px 0px 2px gray;
}

form table
{
	padding: 20px;
}

caption
{
	background-color: #55bbca;
	font-size: 1.5em;
	padding: 0.3em;
	font-weight: bold;
	color: white;
}

.simpleForm td
{
	height: 3em;
	display: block;
}


#btn_group
{
	vertical-align: top;
	display: inline-block;
}