* {
	box-sizing: border-box;
}

body {
	min-width: 600px;
	margin: 0px;
	font-family: Roboto Mono, Roboto, sans-serif;
}

#bigContainer {
	width: 100%;
	position: relative;
}

.content_C {
	padding-top: 50px;
	font-size: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.inContent {
	position: relative;
	height: 100%;
	width: 100%;
}

.centerVC {
	position: relative;
}

.centerV {
	position: absolute;
	top: 50;
	transform: translate(0, -50%);
}

li {
	list-style-type: none;
}

.iblk {
	display: inline-block;
}

.btn {
	background: transparent;
	outline: none;
	border: 1px solid #55bbca;
	color: #55bbca;
	transition: background 0.2s, color 0.2s;
	cursor: pointer;
}

.btn:hover {
	background: #55bbca;
	color: white;
}


.tableSimpleList
{
	border:  1px solid gray;
	border-collapse: collapse;
	box-shadow: 0px 0px 2px gray;
}

.tableSimpleList th
{
	background-color: white;
	border-bottom: 1px solid gray;
	color: black;
	padding: 0.5em;
}
.tableSimpleList tr:hover
{
	background-color: whitesmoke;
	transition:background 0.2s;
}

.tableSimpleList caption
{
	background-color: #55bbca;
	font-size: 1.5em;
	padding: 0.3em;
	font-weight: bold;
	color: white;
}
