body
{
	overflow-x:auto; 
	overflow-y:hidden;
	font-family: Roboto Mono, Roboto, sans-serif;
}


.img
{
	max-width: 256px;
	max-height: 150px;
}

.submit
{
	width: 100%;
	float: right;
	padding:30px;
	text-align: right;
}

#cart
{
	border: solid 1px darkgray;	
}

#cart_caption
{
	border-top: solid 1px darkgray;	
	border-bottom: none;
	font-size: 50px;
	color: rgba(0,0,0,0.7);
	text-align: left;
	padding: 20px;
	background-color: white;
}

.dt-right
{
	border-right:none;
}

thead, thead tr, thead tr th
{
	border-top: none;
	border-bottom: none;
	color:rgba(0,0,0,0.7);
	padding: 20px;
	background-color: whitesmoke;
}

#header_table
{
	box-shadow: gray 0px 1px 5px 3px;
	margin-top: 50px;
}

tfoot, tfoot tr
{
	border-top: none;
	border-bottom: none;
	color: rgba(0,0,0,0.7);
	padding: 20px;
	background-color: whitesmoke;
}
table.dataTable thead th
{
	border: 0px;
}


.btn_ftyStyle
{
	width: 120px;
	height: 40px;
	background: none;
	outline: none;
	border: 2px solid rgba(0,0,0,0.7);
	color: rgba(0,0,0,0.7);
	font-weight: bold;
	font-size: 1em;
	transition: border 0.2s, background 0.2s, color 0.2s;
}

.btn_ftyStyle:hover
{
	border: 2px solid cornflowerblue;
	color: cornflowerblue;
}
.btn_ftyStyle:active
{
	border: 2px solid darkred;
	color: darkred;
}