.navBar_C {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #55bbca;
	z-index: 100;
}

.navBar {
	color: white;
	font-family: "Roboto Mono",Roboto,sans-serif;
}

.navBar .navTab, .navBar .navLogo{
	height: 100%;
	float: left;
}

.navTab_active {
	color: #505050;
}

.navTab > div, .navLogo > div {
	height: 100%;
	position: relative;
	display: inline-block;
}

.navTab > div  > a, .navLogo > div > a{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-weight: 800;
	text-decoration: none;
	color:　white;
}

.navCart, .navUser {
	cursor: pointer;
}

.navTab .cartIcon{
	margin-top: 10px;
}

.navTab .userIcon {
	margin-top: 11px;
	transform: scale(0.8, 0.8);
}

.navCart > div:hover .cartMenu {
	visibility: visible;
	opacity: 1;
}

.cartMenu {
	width: 350px;
	position: absolute;
	top: 100%;
	left: 50%;
	padding: 10px;
	border: 1px solid green;
	background: white;
	transform: translate(-50%, 0);
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s, opacity 0.3s;
}

.cartMenu > ul {
	max-height: 350px;
	padding: 0px;
	margin: 0px;
	overflow-y: auto;
	color: black;
	font-size: 1.5em;
}

.cartMenu > ul > li {
	padding: 10px 0px;
	border-bottom: 1px solid grey;
}

.cartMenu > ul > li > label{
	width: 70%;
	font-size: 1em;
	display: inline-block;
}

.cartMenu > ul > li > span {
	width: 15%;
	font-size: 1em;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

.cartMenu > button {
	width: 200px;
	height: 40px;
	margin-top: 10px;
	margin-left:  65px;
	background: #00C000;
	border: 0px solid white;
	outline: none;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}

