.navBar_C {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #55bbca;
	z-index: 100;
}

.navBar {
	color: white;
	font-family: "Roboto Mono",Roboto,sans-serif;
}

.navBar .navTab, .navBar .navLogo{
	height: 100%;
	float: left;
}

.navTab > div, .navLogo > div {
	height: 100%;
	position: relative;
	display: inline-block;
}

.navTab > div  > a, .navLogo > div > a{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-weight: 800;
	text-decoration: none;
	color:　white;
}

.navCart, .navUser {
	cursor: pointer;
}

.navTab .cartIcon{
	margin-top: 10px;
}

.navTab .userIcon {
	margin-top: 11px;
	transform: scale(0.8, 0.8);
}

.navCart > div:hover .cartMenu {
	visibility: visible;
	opacity: 1;
}

.cartMenu {
	width: 350px;
	position: absolute;
	top: 100%;
	left: 50%;
	padding: 10px;
	border: 1px solid green;
	background: white;
	transform: translate(-50%, 0);
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s, opacity 0.3s;
}

.cartMenu > ul {
	max-height: 350px;
	padding: 0px;
	margin: 0px;
	overflow-y: auto;
	color: black;
	font-size: 1.5em;
}

.cartMenu > ul > li {
	padding: 10px 0px;
	border-bottom: 1px solid grey;
}

.cartMenu > ul > li > label{
	width: 70%;
	font-size: 1em;
	display: inline-block;
}

.cartMenu > ul > li > span {
	width: 15%;
	font-size: 1em;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

.cartMenu > button {
	width: 200px;
	height: 40px;
	margin-top: 10px;
	margin-left:  65px;
	background: #00C000;
	border: 0px solid white;
	outline: none;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}

.searchBar {
	width: 100%;
	position: absolute;
	left: 0px;
	top: 100%;
	padding: 20px 50px;
	background: #808080;
	font-size: 1.5em;
	color: white;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}

.searchBar_shown {
	visibility: visible;
	opacity: 1
}

.searchBar * {
}

.searchInfo_C {
	display: inline-block;
	height: 60px;
	margin-bottom: 20px;
}

.searchBar input, .searchBar select {
	height: 100%;
	font-size: 1.2em;
}

.searchBar select {
	width: 300px;
	padding: 10px;
}

.searchBar input[name="prodName"] {
	width: 500px;
}

.searchBar label {
	font-size: 35px;
}

.searchBar input[name="priceMin"], .searchBar input[name="priceMax"] {
	width: 100px;
	text-align: center;
}

.searchBar .btnSearch {
	background: transparent;
	outline: none;
	border: 0px solid red;
	color: white;
	margin-top: -5px;
	cursor: pointer;
	transition: color 0.2s;
}

.searchBar .btnSearch:hover {
	color: orange;
}

.clsSearchBar {
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.cls {
}

.navIcon {
	cursor: pointer;
	transition: all 0.2s;
}

.navIcon_active {
	color: #F9E113;
}

.navIcon:hover {
	color: #F9E113;
}